body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #BFE1FF;
}
header{
    background-color: white;
    border-radius: 1em;
    padding:2em;
}
img{
    width: 20em;
    margin: auto;
}
.inline{
    display: inline;
}
.descrip{
    font-size: 1.4em;
    color:rgb(97, 100, 112);
    padding-left: 2em;
    position: absolute;
}
.school{
    color:rgb(147, 154, 172);
}
.sm{
    height: 3em;
    width: auto;
    margin: auto;
}
.buttons{
    width: 30%;
}
a {
    color: white;
}
.about{
    position: absolute;
    background-color: white;
    border-radius: 1em;
    margin: auto;
    margin-left: 0;
    width: 70%;
    color:rgb(97, 100, 112);
    padding-bottom: 2em;
}
.contacts{
    background-color: white;
    border-radius: 1em;
    margin: auto;
    margin-right: 0;
    color:rgb(97, 100, 112);
    width: 25%;
}
.stuff{
    display: flex;
    margin-top: 1em;
}
.head{
    text-align: center;
}
.desc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    width: 80%;
    margin: auto;
}
main{
    height: auto;
}
.contact{
    height: 3em;
    width: auto;
    padding-left: 2em;
}
.contact-info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: auto;
    position: absolute;
    padding-left: 1em;
}
div{
    border:1px solid black;
}
