body{
    font-family:  Helvetica,Arial,sans-serif;
    background-color: rgb(28,29,36) ;
    color: white;
    height: 120vh;
    overflow-y: scroll;
}
header{
    border-radius: 1em;
    padding:2em;
    height: 100vh;
    width: auto;
}
img{
    width: 20em;
}
.inline{
    display: inline;
}
.descrip{
    font-size: 1.6em;
    color:white;
    padding-left: 2em;
    width: 70%;
    margin-top: 0;
}
.open{
    font-size: 1.6em;
    color: white;
    margin: auto;
    margin-top: 30vh;
    text-align: center;
}

.test{
    margin: auto;
}
.school{
    font-size: 1em;
    font-family:  'Times New Roman', Times, serif;
    color: white;
}
.sm{
    height: 3em;
    width: auto;
    margin: auto;
}
a {
    color: white;
}
.main{
    color: white;
    border-radius: 1em;
    margin: auto;
    width: 99%;
    padding-bottom: 2em;
    margin-top: 0; 
    margin-left: 0;
    margin-right: 1em;
}

.side{
    background-color: white;
    border-radius: 1em;
    margin-right: 0;
    color:rgb(97, 100, 112);
    width: 100%;
    margin-top: 0;
}
.stuff{
    display: flex;
    margin-top: 1em;
}
.head{
    font-size: 3em;
    text-align: center;
}
.desc{
    font-family:  Helvetica,Arial,sans-serif;
    font-size: 2em;
    width: 80%;
    margin: auto;
}
.skills{
    margin-top: 1em;
    padding-bottom: 20em;
    padding-top: 1em;
}
p { 
    font-size: 20px; 
} 

.container { 
    background-color: rgb(192, 192, 192); 
    width: 100%; 
    border-radius: 15px; 
} 

.skill { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(116, 194, 92); 
    color: white; 
    padding: 1%; 
    text-align: center; 
    font-size: 20px; 
    border-radius: 15px; 
} 

.bar{
    padding-left: 5%;
    padding-right: 5%;
} 

.html { 
    width: 60%; 
} 

.Python { 
    width: 90%; 
} 

.lang{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 0;
}
.experience{
    margin-top: 1em;
}
.hidden{
    opacity: 0;
    transition: all 1s;
}
.skill-bar:nth-child(1){
    transition-delay: 1s;
}
.skill-bar:nth-child(2){
    transition-delay: 1.5s;
}
.skill-bar:nth-child(3){
    transition-delay: 2s;
}
.skill-bar:nth-child(4){
    transition-delay: 2.5s;
}
.skill-bar:nth-child(5){
    transition-delay: 3s;
}
.skill-bar:nth-child(6){
    transition-delay: 3.5s;
}
.hidden-side{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}
.show-side{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.show{
    opacity: 1;
}


.icons{
    transition-delay: 100ms;
}
.icons:nth-child(2){
    transition-delay: 200ms;
}
.icons:nth-child(3){
    transition-delay: 300ms;
}
.experience{
    margin: auto;
    text-align: center;
    padding-bottom: 5em;
}
.projects{
    border-radius: 10px;
    width: 40vw;
    margin-left: 0;
}

.exp-desc{
    width: 50vw;
    margin-right: 0;
}
.proj-git{
    padding-bottom: 2em;
}

.head-project{
    font-size: 3em;
    text-align: center;
    padding-bottom: 2em;
}

.individual-projects{
    padding-bottom: 5em;
}

.contact{
    background-color: rgb(45, 45, 55) ;
    padding-bottom: 3em;
    padding-top: 1em;
}
.contact-methods{
    width: 75%;
    margin: auto;
    padding-bottom: 5em;
}
.contact-info{
    text-align: center;
}
